<a href="https://colab.research.google.com/github/JK-the-Ko/Thermo_Fluid_Dynamics_Experiment/blob/main/2022_2/%EC%97%B4%EC%9C%A0%EC%B2%B4%EA%B3%B5%ED%95%99%EC%8B%A4%ED%97%98_Week_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 주석

In [ ]:
# This is Comment

In [ ]:
# Hello World!

# 변수 출력 (쥬피터 노트북)

In [ ]:
"Hello World"

In [ ]:
print("Hello World")

In [ ]:
print("Hello World" * 3)

# 메모리 할당

In [ ]:
num1 = 10

In [ ]:
num2 = num1

In [ ]:
print(num1, num2)

In [ ]:
print(hex(id(num1)), hex(id(num2)))

In [ ]:
num1 = 20

In [ ]:
print(hex(id(num1)), hex(id(num2)))

# 데이터 타입

## 불리언 (Boolean)

In [ ]:
boolean1 = True
boolean1

In [ ]:
type(boolean1)

In [ ]:
boolean2 = False
boolean2

In [ ]:
type(boolean2)

In [ ]:
boolean1 + boolean2

In [ ]:
boolean1 * boolean2

In [ ]:
print(100 > 10)

In [ ]:
print(100 < 10)

## 정수형 (Integer)

In [ ]:
int1 = 10
int2 = 20

In [ ]:
int3 = int1 + int2
int4 = int2 - int1

In [ ]:
int3

In [ ]:
int4

## 부동소수형 (Float)

In [ ]:
float1, float2 = 1.5, 2.5

In [ ]:
float3 = float1 + float2
float4 = float2 - float1

In [ ]:
float3

In [ ]:
float4

In [ ]:
type(int2 / int1)

In [ ]:
type(int1 * int2)

### Python 연산자

In [ ]:
num1, num2 = 11, 12

In [ ]:
num1 + num2

In [ ]:
num1 - num2

In [ ]:
num1 * num2

In [ ]:
num1 / num2

In [ ]:
num1 // num2

In [ ]:
num2 // num1

In [ ]:
num1 % num2

In [ ]:
num2 % num1

In [ ]:
num1 ** num2

### 복합연산자

In [ ]:
num1

In [ ]:
num1 += 1
num1

In [ ]:
num1 -= 1
num1

In [ ]:
num1 *= 11
num1

In [ ]:
num1 /= 11
num1

## 문자열 (String)

In [ ]:
string1 = "Hello World!"

In [ ]:
string1

In [ ]:
string1 = string1 + " " + "Goodbye World!"

In [ ]:
string1

### 문자열 메쏘드

In [ ]:
num = "10,11,12,13,14,15"

In [ ]:
num.split(",")

In [ ]:
numList = list()
localNum = ""

for i in num :
  if i == "," :
    numList.append(localNum)
    localNum = ""
  else :
    localNum += i
numList.append(localNum)

In [ ]:
numList

# 포매팅 타입

In [ ]:
print(string1)

**Python 3버전에서만 지원**

In [ ]:
print(f"They said {string1}")

In [ ]:
print(f"Answer: {num1 + num2}")

In [ ]:
print(f"Answer: {num1 / num2}")

In [ ]:
print(f"Answer: {num1 / num2:.4f}")

# 조건문

In [ ]:
grade = "A"

if grade == "F" :
  print("F")

elif grade == "D" :
  print("D")

elif grade == "C" :
  print("C")

elif grade == "B" :
  print("B")

elif grade == "A" :
  print("A")

In [ ]:
money, price = 100, 200

if money > price :
  print("Please keep the change")

elif money == price :
  print("Thank you")

else :
  print("Give me more money")

# 루프

## For 루프

In [ ]:
for i in [1, 2, 3] :
  print(i)

In [ ]:
list1 = list(range(10))
list1

In [ ]:
list1 = list(range(1, 10))
list1

In [ ]:
for i in list1 :
  print(i)

In [ ]:
for i in range(10) :
  print(i)

In [ ]:
list1 = list(range(0, 10, 2))
list1

In [ ]:
for i, num in enumerate(list1) :
  print(i, num)

In [ ]:
for i in range(10) :
  if i > 5 :
    break
 
  else :
    print(i)

## While 루프

In [ ]:
i = 0
while i < 10 :
  print(i)
  i += 1

In [ ]:
boolean = True

while boolean :
  char = input()
  
  if char == "stop" :
    boolean = False
 
  else :
    print(char)

## 중첩반복문

In [ ]:
list2d = [[1, 2, 3], [4, 5, 6]]

In [ ]:
for i in range(2) :
  for j in range(3) :
    print(list2d[i][j])

In [ ]:
list2d = list()

for i in range(2) :
  list1d = list()
  
  for j in range(3) :
    list1d.append(i + j)
  
  list2d.append(list1d)

In [ ]:
list2d

# 실습

### 별 출력

다음과 같은 모형을 출력

![image.png]()

### for loop

### while loop

# 열유체공학실험1 2주차 강의 과제

### 1) 1부터 10까지의 모든 정수의 합을 for 및  while loop을 통해 계산하시고 출력하시오.

### 2) 1부터 50사이에 존재하는 소수를 순차적으로 출력하시오.