<a href="https://colab.research.google.com/github/JK-the-Ko/Thermo-Fluid-Dynamics-Experiment/blob/main/2023-2/%EC%97%B4%EC%9C%A0%EC%B2%B4%EA%B3%B5%ED%95%99%EC%8B%A4%ED%97%981_Week5_NumPy_Pandas_Matplotlib.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Science Libraries

## Check for Installed Libraries

In [ ]:
!python3 -m pip list

## NumPy

### Array Operations

In [ ]:
import numpy as np

In [ ]:
type(np)

#### list → array

In [ ]:
list1 = [1, 2, 3, 4, 5]

In [ ]:
array1 = np.array(list1, dtype = "int32")
array1

In [ ]:
array2 = np.array(list1, dtype = "float32")
array2

In [ ]:
array3 = array2.astype("uint32")
array3

###### Character

In [ ]:
list1 = ["a", "b", "c", "d", "e"]

In [ ]:
array1 = np.array(list1, dtype = "U")
array1

###### Boolean

In [ ]:
list1 = [True, True, True, False, False]

In [ ]:
array1 = np.array(list1)
array1

### NumPy Array Attribute and Method Example

In [ ]:
array1.dtype

In [ ]:
array1.shape

In [ ]:
array1.ndim

In [ ]:
list2 = array1.tolist()

In [ ]:
list2

In [ ]:
type(list2)

In [ ]:
type(list2[0])

### Python List vs. NumPy Array

#### Numerical Operation

In [ ]:
list1, list2 = [0, 1, 2, 3, 4], [5, 6, 7, 8, 9]

In [ ]:
array1, array2 = np.array(list1), np.array(list2)

In [ ]:
list1 + list2

In [ ]:
array1 + array2

In [ ]:
array1 - array2

In [ ]:
array1 * array2

In [ ]:
array1 / array2

In [ ]:
(array1 / array2).dtype

In [ ]:
(array1 + 10) * 5

### NumPy 2D Array

In [ ]:
list1 = [[0, 1, 2, 3, 4], [5, 6, 7, 8, 9]]

In [ ]:
array1 = np.array(list1, dtype = "int64")
array1

In [ ]:
array1.shape

In [ ]:
row, column = array1.shape

In [ ]:
print(f"Array Row : {row}")
print(f"Array Column : {column}")

In [ ]:
array1[0][0] = 10
array1

### list(numpyArray) vs. numpyArray.to_list()

In [ ]:
array1 = np.array([[1, 2, 3], [4, 5, 6]])

In [ ]:
list1 = list(array1)
list2 = array1.tolist()

In [ ]:
list1

In [ ]:
list2

In [ ]:
type(list1[0])

In [ ]:
type(list2[0])

### NumPy Array Instantiation with Pre-determined Shape and Element

#### np.zeroes(shape, dtype)
  * shape → NumPy Array Size
  * dtype → NumPy Array Data Type

In [ ]:
row, column = 500, 500

In [ ]:
array1 = np.zeros((row), dtype = "int32")
array1

In [ ]:
array1 = np.zeros((row, column), dtype = "int64")
array1

In [ ]:
array1.dtype

#### np.ones(shape, dtype)
  * shape → NumPy Array Size
  * dtype → NumPy Array Data Type

In [ ]:
array2 = np.ones((row, column), dtype = "float64")
array2

In [ ]:
array2.dtype

###### Same Output with List

In [ ]:
list1 = list()

for i in range(row) :
  list2 = list()
  for j in range(column) :
    list2.append(1.)
  list1.append(list2)

In [ ]:
len(list1)

In [ ]:
len(list1[0])

In [ ]:
list1[40][50]

### NumPy Array Instantiation with Range and Constant Difference

#### np.linsapce(start, stop, num, dtype)
  * start → Start Number
  * stop → End Number
  * num → Number of Generated Samples

In [ ]:
start, stop, num = 1, 100, 100

In [ ]:
array1 = np.linspace(start,stop, num, dtype = "int64")
array1

#### np.arange(start, stop, step, dtype)
  * start → Start Number
  * stop → End Number
  * num → Spacing between Values

In [ ]:
start, stop, step = 1, 100, 1

In [ ]:
array2 = np.arange(start, stop, step, dtype = "int64")
array2

In [ ]:
start, stop, step = 1, 101, 1

array2 = np.arange(start, stop, step, dtype = "int64")
array2

###### Same Output with List

In [ ]:
list1 = list(range(1, 101, 1))
list1

###### NumPy linspace / arange Method Example

In [ ]:
x = np.linspace(1, 100, 100, dtype = "int64")
y = np.sin(x)

In [ ]:
y

In [ ]:
x = np.arange(1, 101, 1, dtype = "int64")
y = np.sin(x)

In [ ]:
y

### NumPy 실습

### Python List [1, 2, 3, 4, 5] 그리고 [6, 7, 8, 9, 10]가 주어졌을 시, 각 Index 간의 곱셈을 List와 NumPy Array를 사용하여 최종 값을 List에 반환하여 출력하세요.

In [ ]:
list1, list2 = [1, 2, 3, 4, 5], [6, 7, 8, 9, 10]

In [ ]:
def vanillaList(list1, list2) :
  # Code Block
  return multList

In [ ]:
def numpyOperation(list1, list2) :
  # Code Block
  return multList

In [ ]:
multList1 = vanillaList(list1, list2)
multList2 = numpyOperation(list1, list2)

In [ ]:
print(multList1, multList2)

## Pandas

In [ ]:
import pandas as pd

### Pandas DataFrame (NumPy Array)

In [ ]:
x = np.arange(0, 2 * np.pi, 0.1)
y = np.cos(x)

In [ ]:
df = pd.DataFrame(data = [x, y], index = ["x", "cos(x)"])

In [ ]:
df

### DataFrame Method

* info() → Information about DataFrame
* transpose() → Transpose DataFrame
* head(numRow) → Get First numRow Rows
* to_csv(path) → Export DataFrame into CSV Format

In [ ]:
df = df.transpose()

In [ ]:
df.info()

In [ ]:
df

In [ ]:
df.head(5)

In [ ]:
df.to_csv("sample.csv")

### DataFrame Attribute

* shape → DataFrame Size
* ndim → DataFrame Dimension

In [ ]:
df.shape

In [ ]:
df.ndim

### Pandas DataFrame (Dictionary)

In [ ]:
x = np.arange(0, 2 * np.pi, 0.1)
sin = np.sin(x)
cos = np.cos(x)
sinh = np.sinh(x)
cosh = np.cosh(x)

In [ ]:
value = dict()
value["sine"] = sin
value["cosine"] = cos
value["hyperbolic sine"] = sinh
value["hyerbolic cosine"] = cosh

In [ ]:
df = pd.DataFrame(data = value, index = x)

In [ ]:
df

### DataFrame Indexing

#### DataFrame_name["column name"]

In [ ]:
df["sine"]

In [ ]:
type(df["sine"])

In [ ]:
np.array(df["sine"])

In [ ]:
np.array(df["sine"]).tolist()

### Import Data into DataFrame

#### pd.read_csv(csvPath, encoding = encoding_type)

In [ ]:
df = pd.read_csv("sample.csv", encoding = "CP949")

In [ ]:
df

In [ ]:
df.columns

###### drop Method → Remove Particular Column

In [ ]:
df = df.drop("Unnamed: 0", axis = 1)

In [ ]:
df[:10]

## Matplotlib

In [ ]:
import matplotlib.pyplot as plt

### Plot Graph from NumPy Array

In [ ]:
x = np.arange(0, 2 * np.pi, 0.1)
y = np.sin(x)

In [ ]:
plt.plot(x, y, label = "Line Graph")
plt.xlabel("x")
plt.ylabel("f(x)")
plt.legend()
plt.show()

In [ ]:
plt.scatter(x, y, marker = ".", label = "Scatter Graph")
plt.xlabel("x")
plt.ylabel("f(x)")
plt.legend()
plt.show()

In [ ]:
plt.scatter(x, y, marker = "*", label = "Scatter Graph")
plt.xlabel("x")
plt.ylabel("f(x)")
plt.legend()
plt.show()

In [ ]:
plt.scatter(x, y, marker = "s", label = "Scatter Graph")
plt.xlabel("x")
plt.ylabel("f(x)")
plt.legend()
plt.show()

In [ ]:
plt.bar(x, y, label = "Bar Chart")
plt.xlabel("x")
plt.ylabel("f(x)")
plt.legend()
plt.show()

### Plot Graph from Scratch

#### Input (NumPy) → Function → Output (NumPy)

In [ ]:
def function(x) :
  return x**2 + 1

In [ ]:
x = np.arange(-10, 10, 0.1)
y = function(x)

In [ ]:
type(x)

In [ ]:
type(y)

In [ ]:
plt.plot(x, y, label = "Line Graph")
plt.xlabel("x")
plt.ylabel("f(x)")
plt.legend()
plt.show()

#### Save Graph

In [ ]:
plt.plot(x, y, label = "Line Graph")
plt.xlabel("x")
plt.ylabel("f(x)")
plt.legend()
plt.savefig("sampleGraph.png", dpi = 500)

### Matplotlib 3D Plot

In [ ]:
ax = plt.axes(projection = "3d")

#### Plot Line Graph

In [ ]:
ax = plt.axes(projection = "3d")

z = np.linspace(0, 15, 1000)
x = np.sin(z)
y = np.cos(z)
ax.plot3D(x, y, z)
plt.show()

#### Plot Scatter Graph

In [ ]:
ax = plt.axes(projection = "3d")

z = 15 * np.random.random(100)
x = np.sin(z) + 0.1 * np.random.randn(100)
y = np.cos(z) + 0.1 * np.random.randn(100)
ax.scatter3D(x, y, z)
plt.show()

#### Plot Graph from Scratch

In [ ]:
def function(x, y) :
  return x * y + x + y

In [ ]:
ax = plt.axes(projection = "3d")
x = np.arange(0, 10, 0.1)
y = np.arange(0, 10, 0.1)
z = function(x, y)
ax.scatter3D(x, y, z)
plt.savefig("sampleGraph3d.png", dpi = 500)

### Matplotlib 실습

아래와 같은 식을 반환하는 function(x)를 만들고,

x의 범위를 [-10, 10) 그리고 step size는 0.5로 하여

x와 function(x)에 관한 결과를 Line, Scatter 그래프 및 Pandas DataFrame으로 출력하세요.

* 그래프
  * x축은 "x", y축은 "f(x)"로, legend는 각 그래프 형태에 맞게 설정 (Line Graph / Scatter Graph)
  * Scatter Graph에서 marker는 "."으로 설정

* DataFrame
  * x와 function(x)의 값들을 Python Dictionary에 저장 후 DataFrame 생성
  * Column Name은 "x" 그리고 "f(x)"로 설정
  * 상위 10번째 Row까지만 출력

![KakaoTalk_20210809_151046278.png]()

In [ ]:
def function(x) :
  # Code Block
  return # Value

### Pandas DataFrame

![화면 캡처 2021-08-09 152637.png]()